 <ion-header class="inner-pages">
  <ion-navbar no-border-bottom color="headerColor"> 
  </ion-navbar>
 <ion-grid clear class="header-grid">
      <ion-row center> 
        <ion-col col-5>
          <b>DILUTE</b>
        </ion-col> 
        <ion-col col-3 class="text-align-center user-image" >
          <span (click)="viewProfile()" class="icons-button notifications">
          <img src="./assets/images/user.png" alt="" />
         </span>
        </ion-col>
        <ion-col col-2>
          <button ion-button (click)="refresh()" color="headerColor" clear><ion-icon name="refresh"></ion-icon></button>
        </ion-col>
        <ion-col col-2 class="text-align-right">
         	<button ion-button (click)="logout()" color="danger" clear><ion-icon name="power"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-grid> 

  <ion-card class="vendor-switching-container">
    <ion-card-content class="">
       <ion-label class="username">Hello, {{name}}
       </ion-label> 
    </ion-card-content> 
  </ion-card>  
</ion-header>


 <ion-content class="pane">
 	<ion-list class="attendance-hader">
 		<ion-item> 
		  Select Mode Of Operation
		</ion-item>
 	</ion-list>
    <div class="container-list">
    <ion-card *ngIf="mode" class="listof-leader">
        <ion-list>
            <ion-item>              
               <button (click)="changeMode(1)" style="width:50%"  class="" ion-button outline icon-only item-end>
                MANUAL		    	
              </button>
              <button style="width:50%; background-color:#3ad74a"  ion-button  outline icon-only item-end>
                  <span style="color:white">AUTOMATIC	   </span> 	
               </button>
            </ion-item>
          </ion-list>
    </ion-card>
    <ion-card *ngIf="!mode" class="listof-leader">
        <ion-list>
            <ion-item>              
               <button style="width:50%; background-color:#3ad74a"  class="" ion-button outline icon-only item-end>
                  <span style="color:white">MANUAL	</span>	    	
              </button>
              <button (click)="changeMode(0)" style="width:50%;"  ion-button  outline icon-only item-end>
                  AUTOMATIC
               </button>
            </ion-item>
          </ion-list>
    </ion-card>
    <ion-list class="attendance-hader">
        <ion-item> 
         Categories
           <ion-badge item-end> 
             
         </ion-badge>
       </ion-item>
      </ion-list>
    
    <div *ngIf="!mode">
		<ion-card *ngIf="DrinkingActuator" class="listof-leader">
			<ion-list>
			  <ion-item>
			    <h2>DRINKING</h2>
          <p>Quantity:<span>10%</span></p> 
          
			    <button  [ngStyle]="{'background-color': buttonColor}" ion-button  outline icon-only item-end>
			    	<ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
			    </button>
			     <button  (click)="switchOff(1)" class="" ion-button outline icon-only item-end>
			    	<ion-icon  name="ios-close-outline"></ion-icon>			    	
          </button>

			  </ion-item>
			</ion-list>
    </ion-card>
    <ion-card *ngIf="!DrinkingActuator" class="listof-leader">
        <ion-list>
          <ion-item>
            <h2>DRINKING</h2>
            <p>Quantity:<span>10%</span></p> 
            
            <button (click)="switchOn(1)" ion-button  outline icon-only item-end>
              <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
            </button>
             <button  [ngStyle]="{'background-color': buttonColor2}" class="" ion-button outline icon-only item-end>
              <ion-icon  name="ios-close-outline"></ion-icon>			    	
            </button>
  
          </ion-item>
        </ion-list>
      </ion-card>

      <ion-card *ngIf="BathingActuator" class="listof-leader">
          <ion-list>
            <ion-item>
              <h2>BATHING</h2>
              <p>Quantity:<span>10%</span></p> 
              
              <button  [ngStyle]="{'background-color': buttonColor}" ion-button  outline icon-only item-end>
                <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
              </button>
               <button  (click)="switchOff(2)" class="" ion-button outline icon-only item-end>
                <ion-icon  name="ios-close-outline"></ion-icon>			    	
              </button>
    
            </ion-item>
          </ion-list>
        </ion-card>
        <ion-card *ngIf="!BathingActuator" class="listof-leader">
            <ion-list>
              <ion-item>
                <h2>BATHING</h2>
                <p>Quantity:<span>10%</span></p> 
                
                <button  (click)="switchOn(2)" ion-button  outline icon-only item-end>
                  <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                </button>
                 <button [ngStyle]="{'background-color': buttonColor2}" class="" ion-button outline icon-only item-end>
                  <ion-icon  name="ios-close-outline"></ion-icon>			    	
                </button>
      
              </ion-item>
            </ion-list>
          </ion-card>

          <ion-card *ngIf="PlantsActuator" class="listof-leader">
              <ion-list>
                <ion-item>
                  <h2>PLANTS</h2>
                  <p>Quantity:<span>10%</span></p> 
                  
                  <button  [ngStyle]="{'background-color': buttonColor}" ion-button  outline icon-only item-end>
                    <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                  </button>
                   <button (click)="switchOff(3)"  class="" ion-button outline icon-only item-end>
                    <ion-icon  name="ios-close-outline"></ion-icon>			    	
                  </button>
        
                </ion-item>
              </ion-list>
            </ion-card>
            <ion-card *ngIf="!PlantsActuator" class="listof-leader">
                <ion-list>
                  <ion-item>
                    <h2>PLANTS</h2>
                    <p>Quantity:<span>10%</span></p> 
                    
                    <button (click)="switchOn(3)" ion-button  outline icon-only item-end>
                      <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                    </button>
                     <button  [ngStyle]="{'background-color': buttonColor2}" class="" ion-button outline icon-only item-end>
                      <ion-icon  name="ios-close-outline"></ion-icon>			    	
                    </button>
          
                  </ion-item>
                </ion-list>
              </ion-card>

              <ion-card *ngIf="CarActuator" class="listof-leader">
                  <ion-list>
                    <ion-item>
                      <h2>CAR</h2>
                      <p>Quantity:<span>10%</span></p> 
                      
                      <button  [ngStyle]="{'background-color': buttonColor}" ion-button  outline icon-only item-end>
                        <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                      </button>
                       <button (click)="switchOff(4)" class="" ion-button outline icon-only item-end>
                        <ion-icon  name="ios-close-outline"></ion-icon>			    	
                      </button>
            
                    </ion-item>
                  </ion-list>
                </ion-card>
                <ion-card *ngIf="!CarActuator" class="listof-leader">
                    <ion-list>
                      <ion-item>
                        <h2>CAR</h2>
                        <p>Quantity:<span>10%</span></p> 
                        
                        <button (click)="switchOn(4)" ion-button  outline icon-only item-end>
                          <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                        </button>
                         <button  [ngStyle]="{'background-color': buttonColor2}" class="" ion-button outline icon-only item-end>
                          <ion-icon  name="ios-close-outline"></ion-icon>			    	
                        </button>
              
                      </ion-item>
                    </ion-list>
                  </ion-card>      
                  
                  </div>
                  
                  <div *ngIf="mode">
                      <ion-card *ngIf="DrinkingActuator" class="listof-leader">
                        <ion-list>
                          <ion-item>
                            <h2>DRINKING</h2>
                            <p>Quantity:<span>10%</span></p> 
                            
                            <button   ion-button  outline icon-only item-end>
                              <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                            </button>
                             <button   class="" ion-button outline icon-only item-end>
                              <ion-icon  name="ios-close-outline"></ion-icon>			    	
                            </button>
                  
                          </ion-item>
                        </ion-list>
                      </ion-card>
                      <ion-card *ngIf="!DrinkingActuator" class="listof-leader">
                          <ion-list>
                            <ion-item>
                              <h2>DRINKING</h2>
                              <p>Quantity:<span>10%</span></p> 
                              
                              <p item-end> switch to manual</p>
                    
                            </ion-item>
                          </ion-list>
                        </ion-card>
                  
                        <ion-card *ngIf="BathingActuator" class="listof-leader">
                            <ion-list>
                              <ion-item>
                                <h2>BATHING</h2>
                                <p>Quantity:<span>10%</span></p> 
                                
                                <button   ion-button  outline icon-only item-end>
                                  <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                                </button>
                                 <button   class="" ion-button outline icon-only item-end>
                                  <ion-icon  name="ios-close-outline"></ion-icon>			    	
                                </button>
                      
                              </ion-item>
                            </ion-list>
                          </ion-card>
                          <ion-card *ngIf="!BathingActuator" class="listof-leader">
                              <ion-list>
                                <ion-item>
                                  <h2>BATHING</h2>
                                  <p>Quantity:<span>10%</span></p> 
                                  
                                  <button  ion-button  outline icon-only item-end>
                                    <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                                  </button>
                                   <button  class="" ion-button outline icon-only item-end>
                                    <ion-icon  name="ios-close-outline"></ion-icon>			    	
                                  </button>
                        
                                </ion-item>
                              </ion-list>
                            </ion-card>
                  
                            <ion-card *ngIf="PlantsActuator" class="listof-leader">
                                <ion-list>
                                  <ion-item>
                                    <h2>PLANTS</h2>
                                    <p>Quantity:<span>10%</span></p> 
                                    
                                    <button  ion-button  outline icon-only item-end>
                                      <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                                    </button>
                                     <button  class="" ion-button outline icon-only item-end>
                                      <ion-icon  name="ios-close-outline"></ion-icon>			    	
                                    </button>
                          
                                  </ion-item>
                                </ion-list>
                              </ion-card>
                              <ion-card *ngIf="!PlantsActuator" class="listof-leader">
                                  <ion-list>
                                    <ion-item>
                                      <h2>PLANTS</h2>
                                      <p>Quantity:<span>10%</span></p> 
                                      
                                      <button ion-button  outline icon-only item-end>
                                        <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                                      </button>
                                       <button class="" ion-button outline icon-only item-end>
                                        <ion-icon  name="ios-close-outline"></ion-icon>			    	
                                      </button>
                            
                                    </ion-item>
                                  </ion-list>
                                </ion-card>
                  
                                <ion-card *ngIf="CarActuator" class="listof-leader">
                                    <ion-list>
                                      <ion-item>
                                        <h2>CAR</h2>
                                        <p>Quantity:<span>10%</span></p> 
                                        
                                        <button  ion-button  outline icon-only item-end>
                                          <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                                        </button>
                                         <button  class="" ion-button outline icon-only item-end>
                                          <ion-icon  name="ios-close-outline"></ion-icon>			    	
                                        </button>
                              
                                      </ion-item>
                                    </ion-list>
                                  </ion-card>
                                  <ion-card *ngIf="!CarActuator" class="listof-leader">
                                      <ion-list>
                                        <ion-item>
                                          <h2>CAR</h2>
                                          <p>Quantity:<span>10%</span></p> 
                                          
                                          <button  ion-button  outline icon-only item-end>
                                            <ion-icon  name="ios-checkmark-outline"></ion-icon>			    	
                                          </button>
                                           <button  class="" ion-button outline icon-only item-end>
                                            <ion-icon  name="ios-close-outline"></ion-icon>			    	
                                          </button>
                                
                                        </ion-item>
                                      </ion-list>
                                    </ion-card>      
                                    
                                    </div>